[submodule "Random_Walk"]
	path = Random_Walk
	url = https://github.com/purvasute/Random_Walk
[submodule "One_D6_Die"]
	path = One_D6_Die
	url = https://github.com/purvasute/One_D6_Die
[submodule "Two_D6_Dice"]
	path = Two_D6_Dice
	url = https://github.com/purvasute/Two_D6_Dice
[submodule "OneD6_OneD10_Dice"]
	path = OneD6_OneD10_Dice
	url = https://github.com/purvasute/OneD6_OneD10_Dice
